#titulo {
    font-family: 'Satisfy', cursive;
}
hr {
    width: 100%;
}
#carro {
    display: relative;
    width: 50px;
    height: 50px;
}
#barraNav {
    display: flex;
    align-items: center;
    background-color: #333A40;
    color: white;
    height: 80px;
}
#barraNav li a{
    color: white;
}
#buttonCard {
    position: relative;
    bottom: 10px;
    background-color: #333A40;
}
#marginCard {
    margin: 5px;
}
#price {
    font-weight: bold;
}
#img-format {
    width: 100%;
    height: 200px;
}
#buttonCarrito {
    box-shadow: none;
    border: none;
    background-color: white;
}
.carrito{
    float: right;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#buttonModify {
    background-color: gray;
    color: white;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}
#buttonConfirm {
    background-color: #F3E8DD;
    border-radius: 5px;
    margin-left: 5px;
    float: right;
}
#buttonCancel {
    background-color: #FB575B;
    border-radius: 5px;
    float: right;
}
#buttonConfirm2 {
    background-color: #F3E8DD;
    border-radius: 5px;
    margin-left: 5px;
    float: right;
    color: black;
}
#buttonCancel2 {
    background-color: #FB575B;
    border-radius: 5px;
    float: right;
    color: black;
}
#footer {
    text-align: center;
}